<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="DatabaseFactoryConfiguration" type="DAO.DatabaseFactorySectionHandler, DAO, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>  
  </configSections>

  <connectionStrings>
    <clear/>
    <add name="MyConnection1" providerName="Oracle.DataAccess.Client" connectionString="Your Connection String Here" />
    <add name="MyConnection2" providerName="MSSQL" connectionString="Your Connection String Here" />
  </connectionStrings>
  
  <DatabaseFactoryConfiguration Name="DAO.OracleDatabase" ConnectionStringName="MyConnection1" />

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>